<div class="popup">
    <div class="popup__background"></div>
        <div class="popup__content">
            <h1 class="popup__title">Product: <strong>[VIP]</strong></h1>
            <div class="popup__fields">
                <div class="popup__field">
                    <div class="popup__field-name">Nickname</div>
                    <div class="popup__field-input"><input type="text" name="nickname"></div>
                </div>
                <div class="popup__field">
                    <div class="popup__field-name">Promo</div>
                    <div class="popup__field-input"><input type="text" name="promo"></div>
                </div>
                <strong style="color: #f26822" class="error"></strong>
            </div>
            <button name="submit" class="popup__button btn"><i class="fa-solid fa-coins"></i>Buy</button>
            <div class="popup__close"><i class="fa-solid fa-xmark"></i></div>
        </div>
</div>